/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** Product Styles **/

body {
    color: #3b000c;
    background-color: darkslategray;
    font-family: "Trebuchet MS", sans-serif;
}



.content {
    width: 800px;
    height: 600px;
    margin: 20px auto;
    background-color: #ffcdcd;
    color: #333333;
    font-size: 16px;
    padding: 10px 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
}



h1 {
    font-size: 22px;
    font-family: Verdana, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 18px;
}

a {
    color: #3b000c;
}

a:hover {
    color: #333333;
}

.paging {
    padding: 10px 20px;
    width: 800px;
    margin: 0 auto;
    background-color: #ffcdcd;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.receipt {
    width: 100%;
    margin-bottom: 15px;
    animation-duration: 1s;
    animation-name: appare;
}

.receipt h2 {
    display: flex;
}

.receipt h2:before {
    content: '📜';
    font-size: 14px;
    padding-right: 5px
}

.receipt-detail {
    margin-bottom: 20px
}

@keyframes appare {
    from {
       opacity: 0
    }

    to {
        opacity: 1
    }
}

.receipt p{
    margin: 0;
}

.receipt a {
    font-size: 14px;
}

.paging ul {
    display: flex;
}

.paging ul li {
    padding: 5px;
    margin: 2px;
    border: 1px solid #666666;
}

.paging ul li a.current_page {
    font-weight: bold;
    text-decoration: none;
}

